
.div1  {
    /* width: 200px;
    height: 100px;
    background-color: blue;
    border-radius: 20px;
    */
    position: absolute;


    animation-name: change ;
    animation-duration: 3s ;
    animation-fill-mode: forwards; 
}

.div1:hover {
    animation-play-state: paused ;

}

@keyframes change{
    0% {
        left: 0;
        background-color: rgba(255, 0, 0, 0);
    }
    /* 25% {
        background-color: blueviolet;
    }
    50% {
        background-color: black;
      
    }
    75% {
        background-color: brown;
    } */
    100% {
        background-color: rgba(255, 255, 0, 0);
        left: 1329px;
    }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

.div2  {
    /* width: 200px;
    height: 100px;
    background-color: blue;
    border-radius: 20px; */
    margin-top: 120px;
    margin-left: 1325px;

    position: absolute;


    animation-name: change2 ;
    animation-duration: 3s ;
    animation-fill-mode: forwards; 
    animation-delay: 3s;
}

.div2:hover {
    animation-play-state: paused ;

}

@keyframes change2{
    0% {
        right: 0;
        background-color: rgba(255, 0, 0, 0);
    }
   
    100% {
        background-color: rgba(255, 255, 0, 0);
        right: 1329px;
    }
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.div3 {
    /* width: 200px;
    height: 100px;
    background-color: blue;
    border-radius: 20px; */
    margin-top: 240px;
    /* margin-left: 1330px; */

    position: absolute;


    animation-name: change3 ;
    animation-duration: 3s ;
    animation-fill-mode: forwards; 
    animation-delay: 6s;
}

.div3:hover {
    animation-play-state: paused ;

}

@keyframes change3{
    0% {
        left: 0;
        background-color: rgba(255, 0, 0, 0);
    }
    /* 25% {
        background-color: blueviolet;
    }
    50% {
        background-color: black;
      
    }
    75% {
        background-color: brown;
    } */
    100% {
        background-color: rgba(255, 255, 0, 0);
        left: 1329px;
    }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
.div4  {
    /* width: 200px;
    height: 100px;
    background-color: blue;
    border-radius: 20px; */
    margin-top: 360px;
    margin-left: 1325px;

    position: absolute;


    animation-name: change4 ;
    animation-duration: 3s ;
    animation-fill-mode: forwards; 
    animation-delay: 9s;
}

.div4:hover {
    animation-play-state: paused ;

}

@keyframes change4{
    0% {
        right: 0;
        background-color: rgba(255, 0, 0, 0);
    }
    /* 25% {
        background-color: blueviolet;
    }
    50% {
        background-color: black;
      
    }
    75% {
        background-color: brown;
    } */
    100% {
        background-color: rgba(255, 255, 0, 0);
        right: 1329px;
    }
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.div5 {
    /* width: 200px;
    height: 100px;
    background-color: blue;
    border-radius: 20px; */
    margin-top: 480px;
    /* margin-left: 1330px; */

    position: absolute;


    animation-name: change5 ;
    animation-duration: 3s ;
    animation-fill-mode: forwards; 
    animation-delay: 12s;
}

.div5:hover {
    animation-play-state: paused ;

}

@keyframes change5{
    0% {
        left: 0;
        background-color: rgba(255, 0, 0, 0);
    }
    /* 25% {
        background-color: blueviolet;
    }
    50% {
        background-color: black;
      
    }
    75% {
        background-color: brown;
    } */
    100% {
        background-color: rgba(255, 255, 0, 0);
        left: 1329px;
    }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.div6 {
    /* width: 200px;
    height: 100px;
    background-color: blue;
    border-radius: 20px; */
    margin-top: 600px;
    margin-left: 1325px;

    position: absolute;

    

    animation-name: change6 ;
    animation-duration: 3s ;
    animation-fill-mode: forwards; 
    animation-delay: 15s;
}

.div6:hover {
    animation-play-state: paused ;

}

@keyframes change6{
    0% {
        right: 0;
        background-color: rgba(255, 0, 0, 0);
    }
    /* 25% {
        background-color: blueviolet;
    }
    50% {
        background-color: black;
      
    }
    75% {
        background-color: brown;
    } */
    100% {
        background-color: rgba(255, 255, 0, 0);
        right: 1329px;
    }
}
/* ///////////////////////////////////////////////////////////////////// */
body{
    background-color: #edcfcf;
}

